@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400;500;600;700&display=swap);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  height: 100%;
  background-image: url("../img/body-bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #aaa;
  object-fit: cover;
}
.card {
  display: flex;
  align-items: center;
  gap: 30px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #0003;
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(2px);
}
.transform-text {
  overflow: hidden;
  width: 449px;
}
h2 {
  object-fit: cover;
  margin-bottom: 30px;
}
.icons {
  display: flex;
  gap: 30px;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
  outline-offset: none;
}
.control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.range {
  width: 60%;
  -webkit-appearance: none;
  background-color: #0003;
  backdrop-filter: blur(2px);
  outline: none;
  border-radius: 15px;
  overflow: hidden;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d66dff;
  cursor: pointer;
}
.timing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.duration-time {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.duration {
  width: 90%;
  background-color: #0003;
  backdrop-filter: blur(2px);
  padding: 2px;
  border-radius: 10px;
}
.process-duration {
  width: 80%;
  height: 4px;
  background: linear-gradient(to right, #6b8dff 0%, #ff2a5f 0%, #fff);
  border-radius: 10px;
}

.rotate {
  animation: rotate 10s infinite linear;
  animation-play-state: paused;
}
#container.playing .rotate {
  animation: rotate 10s infinite linear;
  animation-play-state: running;
}
.run {
  animation: run 8s linear infinite;
  animation-play-state: paused;
}
#container.playing .run {
  animation: run 8s linear infinite;
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes run {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(-100%);
  }
}

@media screen and (max-width: 633px) {
  .card {
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    width: 250px;
    height: 250px;
  }
}
