@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400;500;600;700&display=swap);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  height: 100%;
  background-image: url("../img/body-bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #aaa;
}
.card {
  display: flex;
  align-items: center;
  gap: 30px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #0003;
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(2px);
}
.transform-text {
  overflow: hidden;
  width: 352px;
}
h3 {
  text-align: center;
}
.icons {
  font-size: 30px;
}
.rotate {
  animation: rotate 13s linear infinite;
  transition: all 0.3s;
}
#pause {
  display: none;
}
i {
  cursor: pointer;
}
.control {
  display: flex;
  align-items: center;
  gap: 15px;
}
.run {
  animation: run 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes run {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(-100%);
  }
}

@media screen and (max-width: 633px) {
  .card {
    flex-wrap: wrap;
    justify-content: center;
  }
}
